@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

body {
  margin: 0px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: black;
  display: table-cell;
  font-weight: 300;
  font-size: 32px;
  padding: 8px;
  margin: 0px;
  width: auto;
}

p {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.53);
  margin-top: 12px;
  font-size: 18px;
  line-height: 1.5;
  padding: 8px;
}

.button_bar_host {
  background-color: rgba(255, 102, 0, 0.8);
}

nav {
  padding: 0px;
  display: block;
  width: 100%;
  overflow: scroll;
}

.button {
  padding: 16px;
  display: table-cell;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;
  transition: background-color .15s ease-in-out;
  -moz-transition: background-color .15s ease-in-out;
  -webkit-transition: background-color .15s ease-in-out;
  min-width: 100px;
  /*transition: color .15s ease-in-out;*/
  /*-moz-transition: color .15s ease-in-out;*/
  /*-webkit-transition: color .15s ease-in-out;*/
}

#chips_holder {
  display: flex;
  align-items: center;
}

.chip {
  padding: 4px;
  transition: background-color .15s ease-in-out;
  -moz-transition: background-color .15s ease-in-out;
  -webkit-transition: background-color .15s ease-in-out;
}

.button:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 1);
}

@media (min-width: 600px) {
  .header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
  }

  nav {
    width: 600px;
    margin: auto;
    display: table;
    table-layout: fixed;
  }

  .button {
  }

  p {
    margin: auto;
    max-width: 600px;
  }

  .button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 1);
  }

}

#animations

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadein {
    opacity: 0;
    transition: fadeIn .25s ease-in-out;
  -moz-transition: fadeIn .25s ease-in-out;
  -webkit-transition: fadeIn .25s ease-in-out;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
