.index-top {
  margin-top: 96px;
}

.on-the-side {
  white-space: nowrap;
}

.background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.15;
  object-fit: cover;
}

.front-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 24px;
  margin: 24px 0;
}

.front-page-card {
  background-color: var(--surface);
  border-radius: 12px;
  padding: 12px;
}

@media(max-width: 960px) {
  .on-the-side {
    white-space: inherit;
  }

  .index-top {
    margin-bottom: 8px;
    margin-top: 16px;
  }

  .front-page {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 600px) {

  .front-page {
    margin: 16px 0;
    row-gap: 16px;
    grid-template-columns: 1fr;
  }

}