.left-shifted {
  display: flex; 
  flex-wrap: wrap;
  margin: 12px 36px 12px -60px;
}

.right-shifted {
  display: flex; 
  flex-wrap: wrap;
  margin: 12px -36px 12px 60px;
}

.index-top {
  margin-bottom: 96px;
}

.front-page-card {
  margin: 16px;
}

.on-the-side {
  white-space: nowrap;
}

@media(max-width: 960px) {
  .left-shifted {
    display: flex; 
    flex-wrap: wrap;
    margin: 0px -16px;
  }
  
  .right-shifted {
    display: flex; 
    flex-wrap: wrap; 
    margin: 0px -16px;
  }

  .on-the-side {
    white-space: inherit;
  }

  .index-top {
    margin-bottom: 8px;
  }

  .front-page-card {
    margin: 8px 16px;
  }
}