@use "core";

.chip {
  background-color: core.$primary-faint;
  margin-right: 5px;
  padding: 3px 10px;
  border-radius: 20px;
  color: var(--primary);
}

.close-icon {
  vertical-align: middle;
  padding: 0 4px;
  font-weight: bold;
}

.chip.selected {
  background-color: var(--primary);
  color: core.$tertiary;

  a {
    color: core.$tertiary;
  }
}
