@use "core";

.chip {
  background-color: core.$primary-hover;
  margin-right: 5px;
  padding: 3px 10px;
  border-radius: 20px;
  color: var(--primary);
}

.chip.selected {
  background-color: var(--primary);
  color: core.$tertiary;

  a {
    color: core.$tertiary;
  }
}
