@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');

html {
  font-family: 'IBM Plex Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  --horizontal-margin: 1.0875rem;

  --primary: #FF5900;
  --secondary: #242835;
  --tertiary: rgb(255, 255, 255);
  --background: var(--tertiary);
  --background-alpha: #24283521;
  --text-on-primary: var(--tertiary);
  --text-on-secondary: var(--tertiary);
  --link-on-surface: var(--primary);
  --text-on-surface: var(--secondary);
  --text-on-background: var(--secondary);
  --surface: white;
}
body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-on-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.emphasisBox a, .emphasisBox a:visited, .emphasisBox div {
  color: var(--text-on-primary);
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-36 { font-size: 36px; }

.headlineTop {
  display: grid;
  grid-template-columns: auto 10% 20%;
  row-gap: 16px;
  column-gap: 16px;
}
.collapsingGrid {
  grid-template-columns: auto;
}
footer {
  font-size: 10pt
}
a, a:visited {
  background-color: transparent;
  color: var(--link-on-surface);
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
}
.hover-up {
  transition: margin-left 0.2s ease-in-out,
              margin-right 0.2s ease-in-out;
}
.hover-up.left:hover {
  margin-left: -36px;
  margin-right: 36px;
}
.hover-up.right:hover {
  margin-left: 36px;
  margin-right: -36px;
}
.smaller-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 64px;
  grid-column-gap: 16px;
  margin-top: 40px;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}
.imageRow {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 8px;
}
.portfolio-image {
  flex-shrink: 0;
  width: 20%;
  margin-right: 24px;
}
.portfolio-image-large {
  flex-shrink: 0;
  width: 33%;
  margin-right: 24px;
}
img {
  max-width: 100%;
  padding: 0;
  margin: 0 0 1.45rem;
}
h1 {
  font-family: 'Domine', serif;
  color: var(--primary);
  margin: 0 0 0.45rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 36pt;
  line-height: 1.1;
}
h2 {
  font-family: 'Domine', serif;
  margin-top: 0;
  margin-bottom: 0.35rem;
  color: var(--primary);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 28pt;
  line-height: 1.1;
}
h3 {
  font-family: 'Domine', serif;
  padding: 0;
  margin: 0 0 0.35rem;
  color: var(--primary);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 18pt;
  line-height: 1.1;
}
h4 {
  font-size: initial;
  margin: 0 0 0.35rem;
  color: var(--text-on-surface);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
.headline {
  font-size: 26pt;
  font-weight: 700;
  font-family: 'Domine', serif;
  letter-spacing: 0.10rem;
  justify-self: start;
  color: var(--secondary);
}
.in-card {
  padding: 0 0 0 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
p {
  padding: 0;
  margin: 0 0 0.35rem;
  line-height: 1.45;
  color: var(--text-on-surface);
}
blockquote {
  border-left: 2px solid var(--text-on-surface);
  padding-left: 12px;
  font-style: oblique;
  margin: 1.45rem;
}
pre {
  padding: 16px;
  background-color: var(--background-alpha);
  border-radius: 8px;
  overflow: scroll;
}
code {
  font-size: 0.95rem;
  line-height: 1.45rem;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.2em 0.5em;
  background-color: var(--background-alpha);
  border-radius: 8px;
}
pre code {
  padding: 0.2em;
  background-color: transparent;
}
article {
  font-size: 20px;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

article p {
  margin: 0 0 1.2rem;
  line-height: 1.7;
}

article ul {
  line-height: 170%;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 100%;
  } 
  nav {
    display: table;
    table-layout: fixed;
  }
  .card-internal {
    flex-direction: column;
  }
  .portfolio-image {
    order: -1;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-image-large {
    width: 100%;
    margin-right: 0;
  }
  .emphasisBox {
    overflow: scroll;
  }
  .imageRow {
    overflow: scroll;
  }
  .imageItem {
    min-width: 200px;
  }
  .headlineTop {
    display: grid;
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    grid-template-rows: auto auto;
    row-gap: 16px;
    column-gap: 16px;
  }
  .headlineLink {
    grid-column: 1 / span 2;
  }
  .collapsingGrid {
    grid-template-columns: auto;
  }
  .smaller-projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 32px;
    grid-column-gap: 16px;
    margin-top: 40px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --primary: hsl(21, 75%, 55%);
    --secondary: hsl(240, 18%, 94%);
    --background: #191a1f;
    --background-alpha: hsla(240, 16%, 94%, 0.1);
    --tertiary: hsl(240, 18%, 90%);
    --text-on-background: var(--tertiary);
    --text-on-surface: var(--tertiary);
    --surface: var(--background);
  }
}