@use "core";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$brandFont: 'Poppins';
$brandFontFallback: sans-serif;
$bodyFont: 'IBM Plex Sans';
$bodyFontFallback: sans-serif;

html {
  font-family: $bodyFont, $bodyFontFallback;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  --horizontal-margin: 1.0875rem;

  --primary: #FF5900;
  --primary-hover: rgba(255, 89, 0, 0.22);
  --secondary: #242835;
  --tertiary: rgb(255, 255, 255);
  --background: var(--tertiary);
  --background-alpha: #24283521;
  --text-on-primary: var(--tertiary);
  --text-on-secondary: var(--tertiary);
  --link-on-surface: var(--primary);
  --text-on-surface: var(--secondary);
  --text-on-background: var(--secondary);
  --surface: white;
  --article-padding: 16px;
  --h2-top-margin: 1rem;

  @media (max-width: core.$breakpoint) {
    font-size: 100%;
    --article-padding: 8px;
  }

  @media (prefers-color-scheme: dark) {
    --primary: hsl(21, 75%, 55%);
    --primary-hover: hsla(21, 75%, 55%, 0.22);
    --secondary: hsl(240, 18%, 94%);
    --background: #191a1f;
    --background-alpha: hsla(240, 16%, 94%, 0.1);
    --tertiary: hsl(240, 18%, 90%);
    --text-on-secondary: #242835;
    --text-on-background: var(--tertiary);
    --text-on-surface: var(--tertiary);
    --surface: var(--background);
  }
}
body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-on-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.0875rem;
}
.emphasisBox {
  overflow: scroll;
  background-color: var(--primary);
}
.emphasisBox a, .emphasisBox a:visited, .emphasisBox div {
  color: var(--text-on-primary);
}
.material-icons-round.md-36 {
  font-size: 36px;
  vertical-align: middle;
}
.material-icons-round.md-18 {
  font-size: 16px;
  vertical-align: middle;
}
.scroll-container {
  overflow: scroll;
  white-space: nowrap;
}
.filter-container {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.headlineTop {
  padding: 12px 0;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  row-gap: 16px;
  column-gap: 16px;

  @media (max-width: core.$breakpoint) {
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    grid-template-rows: auto auto;
  }
}
.collapsingGrid {
  display: grid;
  grid-template-columns: auto;
  gap: 32px;
  margin: 32px 0;
}
footer {
  font-size: 10pt
}
a, a:visited {
  background-color: transparent;
  color: var(--link-on-surface);
  text-decoration: none;
}

a .no-links {
  color: var(--text-on-surface);
}

a:active,
a:hover {
  outline-width: 0;
}

.inner-link {
  font-family: $brandFont, $brandFontFallback;
  text-align: center;
  letter-spacing: 0.1rem;
  min-width: 160px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 4px;
  text-decoration: none;
  transition: background 0.2s;
  padding: 8px 0;
  border-radius: 24px;
}

.contact-button {
  padding: 8px 0;
  border-radius: 24px;
  background-color: white;
  color: var(--primary);
  transition: background 0.2s ease-in-out;

  @media (max-width: core.$breakpoint) {
    padding: 6px 0;
    font-size: 12px;
  }

  &:hover {
    background: var(--primary-hover);
  }
}

.hover-background {
  transition: background 0.2s ease-in-out;
  background: transparent;
  border-radius: 8px;

  &:hover {
    background: var(--primary-hover);
  }
}

.hover-background-on-primary {
  transition: background 0.2s ease-in-out;
  background: transparent;
  border-radius: 8px;

  &:hover {
    background: #FFFFFF66;
  }
}

.table-of-contents {
  background-color: core.$primary-hover;
  border-radius: 16px;
  padding: 12px 0;
  font-size: 18px;

  ul {
    list-style-type: decimal;
    margin: 0;
  }
  ul ul {
    list-style-type: lower-alpha;
  }
  p {
    margin: 0;
  }
}

.chips-host {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  margin-bottom: 4px;
  // display: 'flex', flexWrap: "wrap", rowGap: 8, marginBottom: 4
}
.smaller-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 64px;
  grid-column-gap: 16px;
  margin-top: 40px;
  scroll-snap-align: start end;

  @media (max-width: core.$breakpoint) {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 32px;
  }
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}
.article-card-image {
  flex-shrink: 0;
  width: 25%;

  @media (max-width: core.$breakpoint) {
    max-height: 150px;
    border-radius: 8px;
    aspect-ratio: 4 / 3;
  }
}
.portfolio-image {
  flex-shrink: 0;
  margin-top: 8px;
  width: 30%;

  @media (max-width: core.$breakpoint) {
    order: -1;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

.snap-scroll {
  scroll-snap-type: y proximity;
}

.portfolio-image-large {
  flex-shrink: 0;
  width: 33%;

  @media (max-width: core.$breakpoint) {
    width: 100%;
    margin-right: 0;
  }
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0 0 1.45rem;
}
h1 {
  font-family: $brandFont, $brandFontFallback;
  color: var(--primary);
  margin: 0 0 0.45rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 36pt;
  line-height: 1.1;

  @media (max-width: core.$breakpoint) {
    font-size: 24pt;
  }
}
h2 {
  font-family: $brandFont, $brandFontFallback;
  margin: var(--h2-top-margin) 0 0.3rem;
  color: var(--primary);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 24pt;
  line-height: 1.1;

  @media (max-width: core.$breakpoint) {
    margin: 0 0 0.3rem;
    font-size: 18pt;
  }
}
h3 {
  font-family: $brandFont, $brandFontFallback;
  padding: 0;
  margin: 16px 0 4px;
  color: var(--primary);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 18pt;
  line-height: 1.1;

  @media (max-width: core.$breakpoint) {
    font-size: 16pt;
  }
}
h4 {
  font-family: $brandFont, $brandFontFallback;
  font-size: initial;
  margin: 0 0 0.35rem;
  color: var(--text-on-surface);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;

  @media (max-width: core.$breakpoint) {
    font-size: 10pt;
  }
}
.headlineLink {
  font-size: 26pt;
  font-weight: 700;
  font-family: $brandFont, serif;
  letter-spacing: 0.10rem;
  justify-self: start;
  color: var(--secondary);

  @media (max-width: core.$breakpoint) {
    grid-column: 1 / span 2;
    font-size: 24px;
  }
}
.in-card {
  padding: 0 0 0 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
p {
  padding: 0;
  margin: 0 0 0.35rem;
  line-height: 1.45;
  color: var(--text-on-surface);
}
blockquote {
  border-left: 2px solid var(--text-on-surface);
  padding-left: 12px;
  font-style: oblique;
  margin: 1.45rem;
}
pre {
  padding: 16px;
  background-color: var(--background-alpha);
  border-radius: 8px;
  overflow: scroll;
}
code {
  font-size: 0.95rem;
  line-height: 1.45rem;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.2em 0.5em;
  background-color: var(--background-alpha);
  border-radius: 8px;
}
pre code {
  padding: 0.2em;
  background-color: transparent;
}
article {
  font-size: 20px;

  @media (max-width: core.$breakpoint) {
    font-size: 16px;
  }

  table {
    width: 100%;
  }
}

.readable-width {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.fill-parent {
  width: 100%;
}

article p {
  margin: 0 0 0.5rem;
  line-height: 1.7;
}

article ul {
  line-height: 170%;
}

.card-total {
  min-width: 250px;
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  gap: var(--article-padding);
  --h2-top-margin: 0rem;
}

.bordered {
  border-style: solid;
  border-color: var(--primary);
  border-radius: 16px;
  border-width: 2px;
  padding: 0 16px;
}

.article-snippet {
  --webkit-line-clamp: 1;
  line-clamp: 1;

  @media (max-width: core.$breakpoint) {
    --webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

.card-internal {
  flex-direction: row;

  @media (max-width: core.$breakpoint) {
    flex-direction: column;
  }
}

#all-unset * {
  all: revert;
  font-family: serif;
}

.article-text {
  padding: var(--article-padding) var(--article-padding) var(--article-padding) 0;
}

nav {
  @media (max-width: core.$breakpoint) {
      display: table;
      table-layout: fixed;
  }
}

.tiny-card-description {
  @media (max-width: core.$breakpoint) {
    display: none;
  }
}
