@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');

$breakpoint: 600px;

html {
  font-family: 'IBM Plex Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  --horizontal-margin: 1.0875rem;

  --primary: #FF5900;
  --primary-hover: rgba(255, 89, 0, 0.22);
  --secondary: #242835;
  --tertiary: rgb(255, 255, 255);
  --background: var(--tertiary);
  --background-alpha: #24283521;
  --text-on-primary: var(--tertiary);
  --text-on-secondary: var(--tertiary);
  --link-on-surface: var(--primary);
  --text-on-surface: var(--secondary);
  --text-on-background: var(--secondary);
  --surface: white;
  --article-padding: 16px;

  @media (max-width: $breakpoint) {
    font-size: 100%;
    --article-padding: 8px;
  }

  @media (prefers-color-scheme: dark) {
    --primary: hsl(21, 75%, 55%);
    --primary-hover: hsla(21, 75%, 55%, 0.22);
    --secondary: hsl(240, 18%, 94%);
    --background: #191a1f;
    --background-alpha: hsla(240, 16%, 94%, 0.1);
    --tertiary: hsl(240, 18%, 90%);
    --text-on-secondary: #242835;
    --text-on-background: var(--tertiary);
    --text-on-surface: var(--tertiary);
    --surface: var(--background);
  }
}
body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-on-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.0875rem;
}
.emphasisBox {
  @media (max-width: $breakpoint) {
    overflow: scroll;
  }
}
.emphasisBox a, .emphasisBox a:visited, .emphasisBox div {
  color: var(--text-on-primary);
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-36 { font-size: 36px; }

.headlineTop {
  display: grid;
  grid-template-columns: 1fr auto auto;
  row-gap: 16px;
  column-gap: 16px;

  @media (max-width: $breakpoint) {
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    grid-template-rows: auto auto;
  }
}
.collapsingGrid {
  display: grid;
  grid-template-columns: auto;
  gap: 32px;
  margin: 32px 0;
}
footer {
  font-size: 10pt
}
a, a:visited {
  background-color: transparent;
  color: var(--link-on-surface);
  text-decoration: none;
}

a .no-links {
  color: var(--text-on-surface);
}

a:active,
a:hover {
  outline-width: 0;
}
.hover-up {
  transition: margin-left 0.2s ease-in-out,
              margin-right 0.2s ease-in-out;
}

.inner-link {
  text-align: center;
  letter-spacing: 0.1rem;
  min-width: 160px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 4px;
  text-decoration: none;
  transition: background 0.2s;
  padding: 8px 0;
  border-radius: 24px;
}

.contact-button {
  padding: 10px 0;
  border-radius: 24px;
  background-color: white;
  color: var(--primary);
}

.hover-background {
  transition: background 0.2s ease-in-out;
  background: transparent;
  border-radius: 8px;
}
.hover-background:hover {
  background: var(--primary-hover);
}
.hover-up.left:hover {
  margin-left: -36px;
  margin-right: 36px;
}
.hover-up.right:hover {
  margin-left: 36px;
  margin-right: -36px;
}
.smaller-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 64px;
  grid-column-gap: 16px;
  margin-top: 40px;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}
.imageRow {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 8px;
}
.article-card-image {
  flex-shrink: 0;
  width: 25%;

  @media (max-width: $breakpoint) {
    max-height: 150px;
    border-radius: 8px;
    aspect-ratio: 4 / 3;
  }
}
.portfolio-image {
  flex-shrink: 0;
  margin-top: 8px;
  width: 30%;
}
.portfolio-image-large {
  flex-shrink: 0;
  width: 33%;
}
.splitter {
  width: 80%;
  bottom: 0;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
  margin: 0 auto;
  transform: translateX(0);
}
.splitter-left-front {
  position: absolute;
  z-index: 1;
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0 0 1.45rem;
}
h1 {
  font-family: 'Domine', serif;
  color: var(--primary);
  margin: 0 0 0.45rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 36pt;
  line-height: 1.1;

  @media (max-width: $breakpoint) {
    font-size: 24pt;
  }
}
h2 {
  font-family: 'Domine', serif;
  margin: 1rem 0 0.3rem;
  color: var(--primary);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 24pt;
  line-height: 1.1;

  &:first-of-type {
    margin: 0 0 0.3rem;
  }

  @media (max-width: $breakpoint) {
    margin: 0 0 0.3rem;
    font-size: 18pt;
  }
}
h3 {
  font-family: 'Domine', serif;
  padding: 0;
  margin: 16px 0 4px;
  color: var(--primary);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 18pt;
  line-height: 1.1;

  @media (max-width: $breakpoint) {
    font-size: 16pt;
  }
}
h4 {
  font-size: initial;
  margin: 0 0 0.35rem;
  color: var(--text-on-surface);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;

  @media (max-width: $breakpoint) {
    font-size: 10pt;
  }
}
.headline {
  font-size: 26pt;
  font-weight: 700;
  font-family: 'Domine', serif;
  letter-spacing: 0.10rem;
  justify-self: start;
  color: var(--secondary);
}
.in-card {
  padding: 0 0 0 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
p {
  padding: 0;
  margin: 0 0 0.35rem;
  line-height: 1.45;
  color: var(--text-on-surface);
}
blockquote {
  border-left: 2px solid var(--text-on-surface);
  padding-left: 12px;
  font-style: oblique;
  margin: 1.45rem;
}
pre {
  padding: 16px;
  background-color: var(--background-alpha);
  border-radius: 8px;
  overflow: scroll;
}
code {
  font-size: 0.95rem;
  line-height: 1.45rem;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.2em 0.5em;
  background-color: var(--background-alpha);
  border-radius: 8px;
}
pre code {
  padding: 0.2em;
  background-color: transparent;
}
article {
  font-size: 20px;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $breakpoint) {
    font-size: 16px;
  }
}

.tiny-card {
  font-size: 12pt !important;
  background-color: var(--secondary);
  color: var(--text-on-secondary);
  margin: 32px 0;
  border-radius: 8px;
  display: flex;
  max-height: 120px;
}

.tiny-card img {
  width: 200px;
  margin: 0 16px 0 0;
  object-fit: cover;
  align-self: stretch;
  border-radius: 8px;
}

.tiny-card h4 {
  color: var(--text-on-secondary);
}

article p {
  margin: 0 0 0.5rem;
  line-height: 1.7;
}

article ul {
  line-height: 170%;
}

.card-total {
  min-width: 250px;
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  gap: var(--article-padding);
}

.article-snippet {
  --webkit-line-clamp: 1;
  line-clamp: 1;

  @media (max-width: $breakpoint) {
    --webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

.card-internal {
  flex-direction: row;
}

#all-unset * {
  all: revert;
  font-family: serif;
}

.article-text {
  padding: var(--article-padding) var(--article-padding) var(--article-padding) 0;
}

@media only screen and (max-width: $breakpoint) {
  nav {
    display: table;
    table-layout: fixed;
  }
  .card-internal {
    flex-direction: column;
  }
  .portfolio-image {
    order: -1;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-image-large {
    width: 100%;
    margin-right: 0;
  }
  .imageRow {
    overflow: scroll;
  }
  .imageItem {
    min-width: 200px;
  }
  .headlineLink {
    grid-column: 1 / span 2;
  }
  .smaller-projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 32px;
    grid-column-gap: 16px;
    margin-top: 40px;
  }
  .tiny-card img {
    width: 100px;
    margin: 0 16px 0 0;
    object-fit: cover;
    align-self: stretch;
    border-radius: 8px;
  }
  .tiny-card-description {
    display: none;
  }
}