.splitter-host {
  position: relative;
}

.splitter-child {
  width: 80%;
  bottom: 0;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
  margin: 0 auto;
  transform: translateX(0);
}
.splitter-front {
  position: absolute;
  z-index: 1;
}

.splitter-host:hover .right-front-hovered {
  transform: translateX(-24px);
}

.splitter-host:hover .left-front-hovered {
  transform: translateX(-60px);
}

.splitter-host:hover .right-back-hovered {
  transform: translateX(60px);
}

.splitter-host:hover .left-back-hovered {
  transform: translateX(24px);
}