@use "core";

.splitter-host {
  position: relative;
}

.splitter-child {
  width: 80%;
  bottom: 0;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
  margin: 0 auto;
  transform: translateX(0);
}
.splitter-front {
  position: absolute;
  z-index: 1;
}

// Front

.right-front {
  @media (max-width: core.$breakpoint) {
    transform: translateX(-24px);
  }
}

.splitter-host:hover .right-front {
  transform: translateX(-40px);

  @media (max-width: core.$breakpoint) {
    transform: translateX(-24px);
  }
}

.left-front {
  @media (max-width: core.$breakpoint) {
    transform: translateX(-40px);
  }
}

.splitter-host:hover .left-front {
  transform: translateX(-60px);

  @media (max-width: core.$breakpoint) {
    transform: translateX(-40px);
  }
}

// Back

.right-back {
  @media (max-width: core.$breakpoint) {
    transform: translateX(40px);
  }
}

.left-back {
  @media (max-width: core.$breakpoint) {
    transform: translateX(40px);
  }
}

.splitter-host:hover .right-back {
  transform: translateX(60px);

  @media (max-width: core.$breakpoint) {
    transform: translateX(40px);
  }
}

.splitter-host:hover .left-back {
  transform: translateX(24px);

  @media (max-width: core.$breakpoint) {
    transform: translateX(40px);
  }
}